pipeline/Send_Email_To_Unapproved_User.json
{
	"name": "Send_Email_To_Unapproved_User",
	"properties": {
		"activities": [
			{
				"name": "Get Unapproved User",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "select distinct user.email from kimai2_timesheet as ts\nLEFT JOIN kimai2_timesheet_tags as tst\nON id = timesheet_id\nLEFT JOIN kimai2_tags as tags ON tst.tag_id = tags.id\nJOIN kimai2_users as user ON ts.user = user.id\nwhere tags.name <> 'approved' OR tags.name is null",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureMySqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SendEmail",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Unapproved User",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "SendEmail",
					"method": "POST",
					"body": {
						"emailList": "@activity('Get Unapproved User').output.value"
					}
				},
				"linkedServiceName": {
					"referenceName": "KimaiAlert",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}